* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

p {
    font-size: 14px;
}

.header-img img {
    height: 100vh;
}

header .container {
    padding: 5% 10% 0% 10%;
    position: absolute;
    bottom: 84%;
    left: 6%;
    /* left: 10%; */
    /* background: transparent; */
}

.nav-link,
.nav-item {
    color: white;
}

.nav-item:hover,
.nav-link:hover {
    color: rgb(251, 251, 97);
}

.text-container {
    position: absolute;
    top: 190%;
    width: 35%;
}

.top-event-date-time {
    color: rgb(251, 251, 97);
}

.btn1 {
    background: rgb(236, 236, 236);
    color: black;
}

.btn1:hover {
    background: rgb(251, 251, 97);
    color: black;
}

.btn2 {
    background: purple;
    color: white;
}

.btn2:hover {
    background: rgb(251, 251, 97);
    color: black;
}

.upcoming-card-event .container .card {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #e4f1ff;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    /* z-index: 1; */
}


/* Card CSS  */

.container .card .row p i,
.container .card .row h2 i {
    color: purple;
}

.container .card .row .col-md-5 button {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    background: purple;
    color: white;
}

.container .card .row .col-md-5 button:hover {
    background: rgb(251, 251, 97);
    color: black;
}


/* Event Card CSS  */


/* .card-events-section {
    background-color: rgb(247, 247, 247);
} */

.card-events-section .container .row .col-md-4 a {
    text-decoration: none;
    color: black;
}

.card-events-section .container .row .col-md-4 a:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    transition: all ease-in-out 0.8s;
}

.card-events-section .container .row .col-md-4 a .card {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    /* height: 85%; */
    box-shadow: 5px 5px 10px rgba(37, 37, 37, 0.07);
}

.event-status h5 span {
    background-color: rgb(170, 46, 170);
}

.card-events-section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 1%;
}


/* Subscribe Portion  */

.subscribe-section .container-fluid {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/conference2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    /* opacity: 0.9; */
}


/* Footer ki CSS  */

footer {
    background: #e7e7e7;
    opacity: 0.7;
    padding: 5px 0;
    margin-top: 7%;
    color: #000;
}

footer .container .row .col-md-6 {
    padding: 10px 30px;
}

footer .container .row .col-md-6 .social a {
    font-size: 15px;
    font-weight: 700;
    margin: 0 20px;
    /* color: #999999; */
    color: black;
}

footer .container .row .col-md-6 .social a:hover {
    color: orange;
}

footer .container .row #links a {
    font-size: small;
    font-weight: 700;
    margin: 0 5px;
    /* color: #999999; */
    text-decoration: none;
    color: black;
}

footer .container .row #links a:hover {
    color: purple;
}

footer i {
    color: purple;
}

footer i:hover {
    color: orange;
}


/* .footer-social{
    background-color: #e6e7e3;
    padding: 30px 0;
}
.footer-social .container a{
    margin: 0 25px;
    color: #999999;
    font-size: 11px;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-social .container a:hover{
    color: red;
} */

@media only screen and (max-width: 978px) {
    .text-container {
        position: absolute;
        top: 90%;
        width: 65%;
    }
    header .container {
        padding: 5% 5% 0% 5%;
        position: absolute;
        bottom: 50%;
        left: 0%;
        top: 2%;
    }
    .navbar-collapse {
        z-index: 1;
    }
    .navbar-nav {
        background-color: white;
    }
    .navbar-nav .nav-item a {
        color: black;
    }
}